html {
  font-family: 'Poppins', sans-serif;
}

$theme-colors: (
  'primary': #007bbd,
  'light': #ffffff,
  'warning': #ffcd40,
  'danger': #e73331,
);

@import '~bootstrap';
@import '~bootstrap-vue';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#app {
  color: unset;
}
